.comment {
  display: flex;
  gap: 1rem;
  padding: 0.6rem;
  margin: 0.8rem 0;
  border-bottom: 2px var(--grey-light) solid;
  /* border: 1px red solid; */
  max-width: 100%;
  overflow-x: hidden;
}

.img img {
  width: 2.6rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.content {
  max-width: 100%;
}
.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.created {
  display: flex;
  gap: 0.8rem;
}
.user,
.days {
  font-size: 0.95rem;
  color: var(--primary-heading-color);
}
.username {
  color: black;
}
.like {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary-heading-color);
  font-size: 0.9rem;
}
.editContent {
  padding: 0.6rem;
  resize: none;
  background-color: var(--grey-light);
  border: none;
  border-radius: 0.3rem;
  outline: none;
  width: 90%;
}
.edit {
  border: none;
  background-color: white;
  color: var(--primary-heading-color);
  cursor: pointer;
  font-size: 0.9rem;
}
.btns {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  gap: 1rem;
}
.btns button {
  width: 20%;
}
@media (max-width: 591px) {
  .img img {
    width: 2rem;
  }
  .user {
    font-size: 0.7rem;
  }
  .created {
    gap: 0.5rem;
  }
  .date {
    font-size: 0.6rem;
  }
  .comment {
    padding: 0rem;
    margin: 1rem 0;
  }
  .like {
    margin-bottom: 0.4rem;
    font-size: 0.75rem;
  }
  .edit {
    font-size: 0.75rem;
  }
}
